<template>
  <div v-if="is_item_exist">
      <v-container  >
    <v-card class="mx-auto text-center">
        <v-card-actions>
        <VSpacer />
        <v-btn icon color="info" :to="{name:'EditTask',params: { task_id: this.item.id }}">
          <VIcon>mdi-pencil</VIcon>
        </v-btn>
        <VIcon color="error" @click="dialog = true">mdi-delete</VIcon>
      </v-card-actions>
      <v-card-title>
        <span class="title mx-auto font-weight-bold">{{item.title}}</span>
      </v-card-title>
      <v-card-subtitle class="pb-0">{{item.date}}</v-card-subtitle>
      <v-card-text :insent="true" class="title font-weight-light">{{item.discription}}</v-card-text>
    </v-card>
    <Confirmation :dialog="dialog" v-if="dialog" @onConfirm="Delete()" @onCancel="dialog=false"></Confirmation>
  </v-container>
  </div>
  <v-container v-else class="mx-auto">
    <v-container class="d-flex">
      <div class="mx-auto">
        <h1>Task Not Found</h1>
      </div>
    </v-container>
  </v-container>
</template>

<script>
import Confirmation from "@/components/confirmationDialog";
export default {
  name: "card",
  components: {
    Confirmation
  },
  data() {
    return {
      dialog: false,
      item: [],
      is_item_exist: true
    };
  },
  created() {
    var task_id = this.$route.params.task_id;
    this.item = this.$store.getters["task/get"](task_id);
    if (!this.item.id) this.is_item_exist = false;
  },
  methods: {
    async Delete() {
      try {
        await this.$store.dispatch("task/delete", {
          id: this.item.id
        });
        //closing confirmation dialog
        this.dialog = false;
      } catch (error) {
        this.$store.dispatch("global/showMessage", {
          message: error,
          color: "red"
        });
      }
    }
  }
};
</script>