<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col cols="12" md="2"></v-col>
        <v-col cols="12" md="8">
          <div class="d-flex justify-center pa-4">
              <v-btn class="mx-2" :to="{name:'CreateTask'}" dark color="indigo">
                <v-icon dark>mdi-plus</v-icon>
              </v-btn>
          </div>
          <v-row wrap>
            <v-col cols="12" sm="4" md="3" v-for="(item, index) in list" :key="index">
              <!-- card -->
              <Card :item="item" />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import { mapState } from "vuex";
import Card from "../../components/ListItemCard";
export default {
  components: {
    Card
  },
  name: "DisplayTask",
  computed: mapState({
    list: state => state.task.list
  })
};
</script>