<template>
    <v-container v-if='is_task_set' fluid>
    <v-container class='mx-auto' >
        <v-btn class="ma-2" outlined color="indigo" @click='$router.go(-1)' >back</v-btn>
        <v-card class='background'>
        <v-card-text class="headline text-center pt-5">Task</v-card-text>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field v-model='form_data.title' label="Title" required></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model='form_data.discription'  label="Task" type="textarea" required></v-text-field>
              </v-col>  
              <v-col cols='12'>
                 <v-row justify="center">
                  <v-date-picker v-model="form_data.date" :min='min_date'></v-date-picker>
                </v-row>
                  </v-col>            
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions class='ml-4'>
          <v-btn class="ma-2" outlined color="indigo" @click='save' >Save</v-btn>
        </v-card-actions>
      </v-card>   
    </v-container>
    </v-container>
  <v-container v-else class="mx-auto">
    <v-container class="d-flex">
      <div class="mx-auto">
        <h1>Task Not Found</h1>
      </div>
    </v-container>
  </v-container>
</template>

<script>
export default {
    name:'SaveTask',
    data(){
        return {
            form_data: this.initialFormData(),
            min_date:new Date().toISOString().substr(0, 10),
            action:'task/create',
            is_task_set:true
        }                                           
    },
    created(){ 
        if(this.$route.params.task_id){
            let task_id = this.$route.params.task_id
            this.form_data =this.$store.getters["task/get"](task_id);
            this.action = 'task/update';
        } ;
        if(!this.form_data.id)
        this.is_task_set = false;
    },
    methods: {
        async save(){
            try {
                await this.$store.dispatch(this.action,this.form_data)
                this.form_data = this.initialFormData();
                this.$router.push({path:'/task/list'});
            }
            catch(error){
            this.$store.dispatch('global/showMessage', {
                message: error,
                color: 'red'
              })
            }
        },
       initialFormData() {
           return {
                title:'',
                discription:'',
                date:'',
           }
       }
    },
}
</script>

