<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline">Are You Sure ?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="confirm()">Agree</v-btn>
          <v-btn color="green darken-1" text @click="cancel()">Disagree</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
export default {
  props: ["dialog"],
  methods: {
    confirm() {
      this.$emit("onConfirm");
    },
    cancel() {
      this.$emit("onCancel");
    }
  }
};
</script>