<template>
  <div>
    <v-card class="mx-auto"  :to="{name:'item',params: { task_id: this.item.id }}">
      <v-card-title>
        <span class="title font-weight-bold text-truncate">{{item.title}}</span>
      </v-card-title>
      <v-card-subtitle class="pb-0">{{item.date}}</v-card-subtitle>
      <v-card-text :insent="true" class="title font-weight-light text-truncate">{{item.discription}}</v-card-text>
      <v-card-actions>
        <v-btn text color="deep-purple accent-4" :to="{name:'item',params: { task_id: this.item.id }}">View</v-btn>
        <VSpacer />
        <v-btn icon color="info" :to="{name:'EditTask',params: { task_id: this.item.id }}">
          <VIcon>mdi-pencil</VIcon>
        </v-btn>
        <VIcon color="error" @click="dialog = true">mdi-delete</VIcon>
      </v-card-actions>
    </v-card>
    <Confirmation :dialog="dialog" v-if="dialog" @onConfirm="Delete()" @onCancel="dialog=false"></Confirmation>
  </div>
</template>

<script>
import Confirmation from "@/components/confirmationDialog";
export default {
  name: "card",
  props: ["item"],
  components: {
    Confirmation
  },
  data() {
    return {
      dialog: false
    };
  },
  
  methods: {
    async Delete() {
      try {
        await this.$store.dispatch("task/delete", {
          id: this.item.id
        });
        //closing confirmation dialog
        this.dialog = false;
      } catch (error) {
        this.$store.dispatch("global/showMessage", {
          message: error,
          color: "red"
        });
      }
    },
  }
};
</script>