<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="600px">
      <template v-slot:activator="{ on }">
        <v-btn text v-on="on">Login</v-btn>
      </template>
      <v-card>
        <v-card-text class="headline text-center pt-5">Login</v-card-text>
        <v-card-text>
          <v-container>
            <v-form ref="form">
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    v-model="email"
                    @keyup.enter="login"
                    :rules="[rules.email , rules.required]"
                    label="Email"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    v-model="password"
                    @keyup.enter="login"
                    :rules="[rules.required]"
                    label="Password"
                    type="password"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <v-card-actions class="ml-4">
          <v-btn class="ma-2" outlined color="indigo" @click="login">Login</v-btn>
        </v-card-actions>
        <v-divider class="mt-4"></v-divider>
        <v-card-text class="text-center mt-3">
          Have not account yet?
          <v-btn small class>
            <Signup></Signup>
          </v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import rules from "@/validation";
import { mapGetters } from "vuex";
import Signup from "./Signup";
export default {
  components: {
    Signup
  },
  data() {
    return {
      rules,
      dialog: true,
      email: "",
      password: ""
    };
  },
  computed: {
    ...mapGetters("user", {
      isLoggedIn: "isLoggedIn"
    })
  },
  methods: {
    async login() {
      if (!this.$refs.form.validate()) {
        return false;
      }
      try {
        await this.$store.dispatch("user/login", {
          email: this.email,
          password: this.password
        });
        this.$router.push(this.$route.query.redirect || "/task/list");
      } catch (error) {
        this.$store.dispatch("global/showMessage", {
          message: error,
          color: "red"
        });
      }
    }
  }
};
</script>