<template>
<div>
  <v-card color="grey lighten-4" flat  tile>
    <v-toolbar  dense>
       <v-app-bar-nav-icon  class="grey--text" @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-btn icon exact to='/'>
        <v-icon>mdi-home</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn v-if='isLoggedIn' class="ma-2" outlined color="indigo"  to='/task/list'>
       List
      </v-btn>
      <v-btn v-if='!isLoggedIn' class="ma-2" outlined color="indigo">
       <Login></Login>
      </v-btn>
      <v-btn v-else class="ma-2" outlined color="indigo" @click='logout' to='/' exact>
       logout
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </v-toolbar>
    <v-navigation-drawer v-model="drawer" app class="">
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            Application
          </v-list-item-title>
          <v-list-item-subtitle>
            subtext
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-divider></v-divider>
        <v-list
          dense
          nav
        >
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
        >        
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>
          <v-list-item-content>           
            <v-list-item-title>{{ item.title }}</v-list-item-title>            
          </v-list-item-content>        
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-card>  
</div>
</template>
<script>
import Login from './Login'
import { mapGetters} from 'vuex';
export default {
  components: {
    Login
  },   
  data(){
    return{
      drawer: false,
      items: [
        { title: 'Dashboard', icon: 'mdi-view-dashboard' },
        { title: 'Photos', icon: 'mdi-image' },
        { title: 'About', icon: 'mdi-help-box' },
      ],
      right: null,      
    }
  },   
  computed: {
    ...mapGetters('user' ,{
      isLoggedIn: "isLoggedIn"
    }),
  },  
  methods: {
    async logout(){
      try{
        await this.$store.dispatch('logout') 
      }
      catch(error){
        this.$store.dispatch('global/showMessage', {
          message: error,
          color: 'red'
        })
      }
    }
  },
}
</script>