<template>
  <v-row justify="center">
    <v-dialog v-model="dialog"  max-width="600px">
      <template v-slot:activator="{ on }">
        <v-btn small color="primary" dark outlined v-on="on">Signup</v-btn>
      </template>
      <v-card>
       <v-card-text class="headline text-center pt-5">Create your account</v-card-text>
        <v-card-text>
          <v-container>
            <v-form ref="form">
            <v-row> 
                <v-col cols="12">
                  <v-text-field v-model='form_data.name' @keyup.enter="register_user" :rules="[rules.required]" label="Name*" ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field v-model='form_data.email' @keyup.enter="register_user" :rules="[rules.email , rules.required]" label="Email*" ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field v-model='form_data.password'  @keyup.enter="register_user" :rules="[rules.min_length(8) , rules.required]" label="Password*" type="password" ></v-text-field>
                </v-col>
            </v-row>
            </v-form>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">Back</v-btn>
          <v-btn color="blue darken-1" text @click="register_user">Register</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import rules from '@/validation'
export default {
  data: () => ({
    rules,
    dialog: false,
    form_data :{
    name:'',
    email:'',
    password:'',
    }
  }),
  methods: {
    async register_user(){
      if (!this.$refs.form.validate()) {
        return false;
      }
      try{
        var data = await this.$store.dispatch('user/register',this.form_data)
        if(data)
        {
          this.dialog = false
        }
      }catch(error){
        this.$store.dispatch('global/showMessage', {
          message: error,
          color: 'red'
       })
      }
    }
  },
}
</script>