<template>
  <v-app>
    <v-content>
      <Navbar />
      <router-view ></router-view>
      <v-snackbar v-if="snackbar.show"
        :multi-line="true"
        auto-height
        bottom
        :color="snackbar.color"
        v-model="snackbar.show"
      >
        <p v-html="snackbar.text"></p>
        <v-btn dark @click.native="snackbar.show = false" icon>
          <v-icon>mdi-close</v-icon>
        </v-btn>
    </v-snackbar>
    </v-content>
  </v-app>
</template>

<script>
import Navbar from './components/Navbar'
import { EventBus } from "@/eventBus.js"
  export default {
    components: {
      Navbar
    },
    data(){
      return{
        snackbar: {
        show: false,
          text: "",
          color: ""
        }
      }
    },
     created() {
    EventBus.$on("showMessage", payload => {
          this.snackbar = {
            show: true,
            color: payload.color,
            text: payload.message
          };
       });
     }
}
</script>