<template>
  <v-app class='background-image'>
  </v-app>
</template>

<script>
export default {
  name: "home",
  data(){
    return{
       
    }
  },
};
</script>
<style scoped>
  .background-image {
  height: 95%;
  top: 0;
  background: url("../assets/background.jpg") no-repeat center
    center;
  background-size: cover;
}
</style>